[Unit]
Description=Unifi Protect Doorbell
After=network.target

[Service]
User=(user if required)
Type=simple
Restart=always
RestartSec=5
ExecStart=/path/to/venv/python /path/to/doorbell_bridge.py >> /dev/null 2>&1

[Install]
WantedBy=multi-user.target